version: "3.7"

services:
  protocolo_zero_timidez:
    image: protocolo_zero_timidez:latest
    build: .
    networks:
      - elprofessornet
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        # Regra para capturar o domínio e o caminho específico
        - traefik.http.routers.protocolo_zero_timidez.rule=Host(`cursos.elprofessordaoratoria.com.br`) && PathPrefix(`/protocolo-zero-timidez`)
        - traefik.http.routers.protocolo_zero_timidez.entrypoints=websecure
        - traefik.http.routers.protocolo_zero_timidez.tls.certresolver=letsencryptresolver
        - traefik.http.routers.protocolo_zero_timidez.service=protocolo_zero_timidez
        - traefik.http.services.protocolo_zero_timidez.loadbalancer.server.port=80
        - traefik.http.services.protocolo_zero_timidez.loadbalancer.passHostHeader=true

networks:
  elprofessornet:
    name: elprofessornet
    external: true
